@import "tailwindcss";

:root {
  --primary-color : #1A365D;
  --primary-color-hover : #2B4C7E;
  --secondary-color : #E2E8F0;
  --tertiary-color : #4F2E00;
  --natural-color : #77777A;

  --max-width: 1126px;
}

.btn-clicked {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.25rem;
  font-weight: 500;
  color: var(--primary-color);
}

.body{
  background-color: white;
}